<div class="zonal-long-table zonal-long-table-fifteen">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Less</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">More</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-six">6</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-seven">7</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-eight">8</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-nine">9</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-ten">10</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-eleven">11</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-twelve">12</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-thirteen">13</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-fourteen">14</div>
    <div class="zonal-long-table-item zonal-long-table-item-fifteen zonal-long-table-cell-fifteen value-fifteen">15</div>
  </div>
</div>
