<div ref="maplayers_list" id="maplayers_list" class="h-100 maplayers_list py-3">
  <div id="hide-show-layerlist" class="hide-show-layerlist p-2">
    <i class="fas fa-angle-left"></i>
    <i class="fas fa-angle-right d-none"></i>
  </div>

<!-- <div class="collapse navbar-collapse" id="mapListToggle"> -->
<div class="navbar-collapse pr-1" id="mapListToggle">
  <div ref="ToggleLayers" id="ToggleLayerList" class="layer-toggles h-100 w-100">
    <button id="btn-basemap" title="Change Base Map" aria-label="Clear Map" type="button" class="btn-light btn-basemap">
      <span class="btn-icon btn-text-left w-100">
        <i class="fas fa-th-large icon-left"></i>
        <span class="btn-action">Change the Base Map</span>
        <span id="btn-basemap-label" class="btn-label">Dark Gray</span>
      </span>
    </button>

    <div id="basemaplist" class="list-group list-group-dark list-basemap closed">
      <span title="Close Base Map List" aria-label="Close Base Map List" id="basemap_list_close" class="float-right text-right w-100 basemap_list_close d-none">
        <span class="choose-base-map">Change the Base Map</span>
        <i title="Close Base Map List" aria-label="Close Base Map List" class="fas fa-times"></i>
      </span>
      <button title="Base Map Dark Gray" aria-label="Base Map Dark Gray" id="basemap-DarkGray" type="button" class="list-group-item list-group-item-action">
        <img src="../images/DGCanvasBase.png" alt="Base Map Dark Gray" class="basemap-img" />
        <span class="list-label-name">Dark Gray</span>
      </button>
      <button title="Base Map Imagery" aria-label="Base Map Imagery" id="basemap-Imagery" type="button" class="list-group-item list-group-item-action">
        <img src="../images/imagery.jpg" alt="Base Map Imagery" class="basemap-img" />
        <span class="list-label-name">Imagery</span>
      </button>
      <button title="Base Map Topographic" aria-label="Base Map Topographic" id="basemap-Topographic" type="button" class="list-group-item list-group-item-action">
        <img src="../images/topo_map_2.jpg" alt="Base Map Topographic" class="basemap-img" />
        <span class="list-label-name">Topographic</span>
      </button>
      <button title="Base Map Streets" aria-label="Base Map Dark Streets" id="basemap-Streets" type="button" class="list-group-item list-group-item-action">
        <img src="../images/world_street_map.jpg" alt="Base Map Streets" class="basemap-img" />
        <span class="list-label-name">Streets</span>
      </button>
    </div>

    <!-- <button id="btn-zoomregion" title="Change region" aria-label="Clear Map" type="button" class="btn-light btn-basemap zoom-region">
    <span class="btn-icon btn-text-left w-100">
    <i class="fas fa-clone icon-left"></i>
    <span class="btn-action">Select a Region</span>
    <span id="btn-zoomregion-label" class="btn-label">Southeast U.S.</span>
  </span>
</button> -->

<!-- <div id="zoomregionlist" class="list-group list-group-dark list-zoomregion closed">
<span title="zoom to a region" aria-label="zoom region South East U.S" id="zoomregion_close" class="float-right text-right w-100 zoomregion_list_close d-none">
<span class="choose-base-map align-self-center">Southeast U.S</span>
<i title="Close Zoom Region List" aria-label="Close Zoom Region List" class="fas fa-times"></i>
</span>
<button title="Zoom to a region South East U.S" aria-label="Zoom to a region South East U.S" id="zoomregion-seus" type="button" class="list-group-item list-group-item-action">
<img src="../images/zoomregion-cus.png" alt="Zoom to a region South East U.S" class="zoomregion-img  align-self-center" />
<span class="list-label-name align-self-center">South East U.S</span>
</button>
</div> -->
<div class="LayerList-spacer" id="platform-spacer-1"></div>

<div id="platform-holder" >

  <div class="LayerList-Group platform-group" id="LayerList-Group-Header">
    <div class="LayerInput-header platform py-2" id="SatellitePlatform-Header">Satellite Platform</div>
  </div>

  <div class="btn-group w-100 platform" role="group" aria-label="Satellite Platform" title="Satellite Platform">
    <button type="button" class="btn btn-secondary btn-platform selected" id="btn-platform-landsat8">Landsat 8</button>
    <button type="button" class="btn btn-secondary btn-platform" id="btn-platform-Sentinel2">Sentinel 2</button>
    <!-- <button type="button" class="btn btn-secondary btn-platform" id="btn-platform-combined">Combined</button> -->
    <!-- <button type="button" class="btn btn-secondary">Right</button> -->
  </div
</div>

<div class="LayerList-spacer" id="platform-spacer-5"></div>
<div class="LayerList-spacer" id="platform-spacer-5"></div>

<span class="brand-maplist-holder">
  <span class="navbar-brand nav-brand-maplayerlist py-2 w-100" >Map Layers</span>
</span>

<span id="defaultLayerList" >
  <div class="LayerList-Group" id="LayerList-Group-Header">
    <div class="LayerInput-header current-year py-2" id="HubsLayers-Header">Current Year to Date</div>

    <div ref="LayerInput" id="southeast_swir_threshold-layerToggle" class="custom-control custom-checkbox">
      <div class="layer-toggle-wrapper">
        <input title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_swir_threshold-toggle" type="checkbox" class="custom-control-input" id="southeast_swir_threshold-toggle">
        <label title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_swir_threshold-label" class="custom-control-label" for="southeast_swir_threshold-toggle" id="southeast_swir_threshold-label">SWIR Differencing (Threshold Change)</label>
        <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-trigger="focus hover" data-toggle="popover" data-placement="bottom" role="button" tabindex="-1"  >
          <i title="" aria-label="Show layer description" class="fas fa-info"></i>
        </span>
        <span title="View Legend" aria-label="View Legend" id="legend-hubs" class="float-right text-center layer-legend-toggler closed">
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa-th-list closed d-none"></i>
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa fa-th-list open"></i>
        </span>

      </div>
      <div class="layer-legend-wrapper closed">
        <div class="layer-legend"></div>
      </div>
    </div>

    <div ref="LayerInput" id="southeast_swir_current-layerToggle" class="custom-control custom-checkbox">
      <div class="layer-toggle-wrapper">
        <input title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_swir_current-toggle" type="checkbox" class="custom-control-input" id="southeast_swir_current-toggle">
        <label title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_swir_current-label" class="custom-control-label" for="southeast_swir_current-toggle" id="southeast_swir_current-label">SWIR Differencing (All Change)</label>
        <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-trigger="focus hover" data-toggle="popover" data-placement="bottom" role="button" tabindex="-1"  >
          <i title="" aria-label="Show layer description" class="fas fa-info"></i>
        </span>
        <span title="View Legend" aria-label="View Legend" id="legend-hubs" class="float-right text-center layer-legend-toggler closed">
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa-th-list closed d-none"></i>
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa fa-th-list open"></i>
        </span>

      </div>
      <div class="layer-legend-wrapper closed">
        <div class="layer-legend"></div>
      </div>
    </div>

    <div ref="LayerInput" id="southeast_ndvi_current-layerToggle" class="custom-control custom-checkbox">
      <div class="layer-toggle-wrapper">
        <input title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_ndvi_current-toggle" type="checkbox" class="custom-control-input" id="southeast_ndvi_current-toggle">
        <label title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_ndvi_current-label" class="custom-control-label" for="southeast_ndvi_current-toggle" id="southeast_ndvi_current-label">NDVI</label>
        <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-trigger="focus hover" data-toggle="popover" data-placement="bottom" role="button" tabindex="-1"  >
          <i title="" aria-label="Show layer description" class="fas fa-info"></i>
        </span>
        <span title="View Legend" aria-label="View Legend" id="legend-hubs" class="float-right text-center layer-legend-toggler closed">
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa-th-list closed d-none"></i>
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa fa-th-list open"></i>
        </span>

      </div>
      <div class="layer-legend-wrapper closed">
        <div class="layer-legend"></div>
      </div>
    </div>

    <div ref="LayerInput" id="southeast_ndmi_current-layerToggle" class="custom-control custom-checkbox">
      <div class="layer-toggle-wrapper">
        <input title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_ndmi_current-toggle" type="checkbox" class="custom-control-input" id="southeast_ndmi_current-toggle">
        <label title="Toggle southeast-swir-currentMaskForForest" aria-label="Toggle southeast-swir-currentMaskForForest" ref="southeast_ndmi_current-label" class="custom-control-label" for="southeast_ndmi_current-toggle" id="southeast_ndmi_current-label">NDMI</label>
        <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-trigger="focus hover" data-toggle="popover" data-placement="bottom" role="button" tabindex="-1"  >
          <i title="" aria-label="Show layer description" class="fas fa-info"></i>
        </span>
        <span title="View Legend" aria-label="View Legend" id="legend-hubs" class="float-right text-center layer-legend-toggler closed">
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa-th-list closed d-none"></i>
          <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa fa-th-list open"></i>
        </span>

      </div>
      <div class="layer-legend-wrapper closed">
        <div class="layer-legend"></div>
      </div>
    </div>


  </div>


  <div class="LayerList-spacer" id="AssetInputs-Header"></div>

  <div class="LayerList-Group inputs-collapser" id="LayerList-Group-Header">

    <div class="LayerInput-header inputs-collapser-header" id="AssetInputs-Header" data-target="#CollapseOneYearArchive" aria-expanded="true" aria-controls="CollapseOneYearArchive">
      Last Year
      <!-- <i class="fa fa-caret-up icon-right d-none" aria-hidden="false"></i>
      <i class="fa fa-caret-down icon-right d-none" aria-hidden="false"></i> -->
    </div>
      <div class="collapse show" id="CollapseOneYearArchive">

        <div class="inputs-layer-list">

          <div ref="LayerInput" id="southeast_swir_threshold_1yr-layerToggle" class="custom-control custom-checkbox">
            <div class="layer-toggle-wrapper">
              <input title="Toggle southeast-swir-southeast_swir_threshold_1yr" aria-label="Toggle southeast-swir-southeast_swir_threshold_1yr" ref="southeast_swir_threshold_1yr-toggle" type="checkbox" class="custom-control-input" id="southeast_swir_threshold_1yr-toggle">
              <label title="Toggle southeast-swir-southeast_swir_threshold_1yr" aria-label="Toggle southeast-swir-southeast_swir_threshold_1yr" ref="southeast_swir_threshold_1yr-label" class="custom-control-label" for="southeast_swir_threshold_1yr-toggle" id="southeast_swir_threshold_1yr-label">SWIR Differencing (Threshold Change)</label>
              <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-trigger="focus hover" data-toggle="popover" data-placement="bottom" role="button" tabindex="-1"  >
                <i title="" aria-label="Show layer description" class="fas fa-info"></i>
              </span>
              <span title="View Legend" aria-label="View Legend" id="legend-hubs" class="float-right text-center layer-legend-toggler closed">
                <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa-th-list closed d-none"></i>
                <i title="View Legend" aria-label="View Legend" id="legend-hubs" class="fa fa fa-th-list open"></i>
              </span>

            </div>
            <div class="layer-legend-wrapper closed">
              <div class="layer-legend"></div>
            </div>
          </div>

        </div>
      </div>
    </div>


      </span>

    </div>
    <!-- </nav> -->
  </div>
  <!-- </nav> -->
</div>
