$background-southfact-minor: #101012;

.map-list {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.map-list-column {
  height: 100% !important;
  background: $background-southfact-minor !important;
  border: 1px solid $btn-color-secondary;
  @include border-radius(0.25rem, 0.25rem);

  &.hide-list {
    flex: 0 0 0% !important;
    max-width: 0%;
    transition: all 0.75s ease;

    .maplayers_list-holder {
      width: 0% !important;
      max-width: 0% !important;
      @media screen and (max-width: 992px) {
        width: 100% !important;
        max-width: 100% !important;
      }
    }

    #mapListToggle {
      display: none;
    }
  }

  &.show-list {
    flex: 0 0 33% !important;
    max-width: 33%;
    transition: all 0.75s ease;
  }
}

#map-holder.hide-list {
  flex: 0 0 96% !important;
  max-width: 96%;
  transition: all 0.75s ease;
}

#map-holder.show-list {
  flex: 0 0 66% !important;
  max-width: 66%;
  transition: all 0.75s ease;
}

#map-holder, #maplayers_list-holder, .map-list-column {
  &.show-list, &.hide-list {
    position: relative;
  }
}

@media screen and (max-width: 992px) {

  #map-holder, #maplayers_list-holder, .map-list-column {
    &.show-list, &.hide-list {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      width: 100% !important;
    }
  }

  .hide-list.nav-brand-maplayerlist {
    display: none !important;
  }

  #map-holder.hide-list {
    height: 96% !important;
    max-height: 96% !important;
    transition: all 0.75s ease;
  }

  #map-holder.show-list {
    height: 50% !important;
    max-height: 50% !important;
    transition: all 0.75s ease;
  }

  .map-list-column.hide-list, #maplayers_list-holder.hide-list {
    width: 100% !important;
    height: 1% !important;
    max-height: 1% !important;
    padding-bottom: 20px !important;
    transition: all 0.75s ease;
  }

  .map-list-column.show-list, #maplayers_list-holder.show-list {
    height: 50% !important;
    max-height: 50% !important;
    transition: all 0.75s ease;
  }

  .hide-show-layerlist {
    left: 50% !important;
  }

  .hide-list .hide-show-layerlist {
    padding-top: 15px;
    width: 36px;
    top: 100% !important;
    transform: rotate(90deg);

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);
  }

  .show-list .hide-show-layerlist {
    padding-top: 15px;
    width: 36px;
    top: calc(100% - -4px) !important;
    transform: rotate(-270deg);

    /* Safari */
    -webkit-transform: rotate(-270deg);

    /* Firefox */
    -moz-transform: rotate(-270deg);

    /* IE */
    -ms-transform: rotate(-270deg);

    /* Opera */
    -o-transform: rotate(-270deg);
  }
}

#maplayers_list {
  background: $background-southfact-minor !important;
  padding-left: 5px !important;
}

.map.leaflet-container {
  border: 1px solid $btn-color-secondary;
  @include border-radius(5px, 5px);
}

@media screen and (min-width: 993px) {
  #maplayers_list-holder {
    width: unset !important;
    position: unset;
  }

  .maplayers_list {
    .navbar-brand {
      width: 100% !important;
      float: inherit !important;
      display: flex !important;
      font-size: 18px;
      font-weight: normal;
    }

    .brand-maplist-holder {
      display: flex !important;
      position: unset !important;
      top: unset !important;
      width: 100% !important;
      min-width: unset;
      max-width: unset !important;
      background-color: unset !important;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
      border-color: unset !important;
      border-width: unset !important;
      border-style: unset !important;
      z-index: unset !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .map-holder {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  .map-list-column {
    padding-bottom: 10px !important;
    position: unset;
    height: 50% !important;
    top: 0;
    padding-top: $padding;
    margin-bottom: $margin;
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .maplayers_list {
    height: 100% !important;
    width: 100% !important;
    position: unset;
    top: 0 !important;
    left: 0 !important;
    z-index: 4000 !important;
    background-color: rgba(53, 59, 65, 0) !important;
  }

  .brand-maplist-holder {
    position: unset;
  }

  .hide-list .maplayers_list {
    height: 0 !important;
    max-height: 0 !important;
    &.py-3 {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }
    .brand-maplist-holder {
      display: none !important;
    }
  }
}

@media screen and (max-width: 768px) {
  #maplayers_list-holder {
    margin-left: 0 !important;
    top: 0 !important;
  }
}

.maplayers_list {

  &::-webkit-scrollbar {
    width: 8px;
    border: 1px solid $background-southfact-minor;
    background-color: $background-southfact-minor;
  }

  &::-webkit-scrollbar-thumb {
    max-height: 15px;
    background-color: $gray-600;
    @include border-radius(15px, 15px);
  }

  &::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $background-southfact-minor;
    background-color: #E9ECEF;
    @include border-radius(15px, 15px);
  }

  &::-webkit-scrollbar-track-piece {
    height: 15px;
    width: 8px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

#nav-holder {
  display: none !important;
}
