@import '~bootstrap/scss/bootstrap';
@import './_customVarriables.scss';

$body-bg: $gray-800;
$body-color: $gray-200;
$body-bg-semiTransparent: rgba(53, 59, 65, .9); // $gray-800
$dark-bg: #2A2E33;
$btn-color-prinary: #9F5222; // $gray-100;
$btn-color-secondary: #242409; // $gray-300;

$box-shadow-default: 0 2.5px 5px rgba(0, 0, 0, 0.19), 0 1.5px 1.5px rgba(0, 0, 0, 0.23);
$box-shadow-small: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1.25px 1.25px rgba(0, 0, 0, 0.23);

@mixin box-shadow-mixin($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin hovcol($color) {
  // @content;
  @if (lightness($color) > 50) {
    background-color: mix($color, gray, 25) !important;
  }
  @else {
    background-color: mix(white, $color, 25) !important;
  }
}

$layer_list_width: 275px;
$layer_list_width_closed: 200px;
$layer_list_padding: 10px;
$map_top_margin: 5px;
$map_right_margin: 10px;

.tooltip.layerlist {
  .tooltip-inner {
    float: left !important;
    padding-right: 30px;
  }

  .close-layerlist {
    cursor: pointer;
    position: relative;
    left: -25px !important;
    top: 5px;
    padding: 5px;
    color: $body-bg !important;
    float: right !important;
    background-color: $body-color !important;
    border: 1px solid  $gray-400 !important;
    @include border-radius(4px, 4px);
  }
}

.h-70 {
  @media screen and (min-height: 1024px) {
    height: auto !important;
  }
}

.h-0 {
  height: 0% !important;
}

.layer-legend {
  margin: 10px;
}

.map-information-popup {
  .leaflet-popup-close-button {
    top: 15px !important;
    z-index: 1021;
  }
}

#map_info_list {
  h5 {
    margin-bottom: 5px !important;
  }
}

#maplayers_list_opened, #map_info_list_collapse {
  color: $body-color;
  font-size: 14px;
  padding: $layer_list_padding;
}

.icon-left {
  float: left;
  font-size: 50px;
  color: $body-color;
}

.btn-action, .btn-label {
  color: $body-color;
  width: 100%;
  margin-left: 15px;
}

.btn-text-left {
  text-align: left !important;
  float: left;
}

.btn-action {
  font-size: 14px;
  width: 100% !important;
}

.btn-label {
  font-size: 12px;
  width: 100% !important;
}

.btn-action:after {
  content: '\000A';
  white-space: pre;
}

.list-basemap.closed, .list-zoomregion.closed {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.75s ease;
  will-change: transform;
}

.list-basemap {
  width: 100% !important;
  max-height: 1000px;
  overflow: hidden;
  transition: all 0.75s ease;
  will-change: transform;
}

.LayerInput-header.platform, .LayerInput-header.current-year {
  font-size: 16px;
  font-weight: normal;
}

.btn-group.platform {
  .btn {
    max-height: 36px;
  }

  .btn-platform.selected {
    background-color: $btn-color-prinary !important;
  }

  .btn-platform {
    font-size: 14px !important;
  }

  .btn:focus, .btn:hover {
    outline: $gray-600 !important;
    border: 1px solid  $btn-color-secondary !important;
    box-shadow: unset;
  }
}

.list-zoomregion {
  width: 100% !important;
  max-height: 1000px;
  font-size: .8rem;
  overflow: hidden;
  transition: all 0.75s ease;
  will-change: transform;
}

.choose-base-map {
  float: left;
  font-weight: bold;
  margin: 5px;
}

.map-messages {
  z-index: 4000;
  width: 50%;
  background-color: white;
  color: black;
  padding: 12px;
  @include border-radius(4px, 4px);
  height: 100px;
  top: calc(100% - 124px);
  left: calc(150px);
  font-size: 14px;
}

.popover.location-aware-messsage {
  max-width: 500px !important;
  @media screen and (max-width: 768px) {
    max-width: 250px !important;
  }
}

.btn-basemap {
  cursor: pointer;
  background-color: $btn-color-prinary !important;
  width: 100% !important;
  @include box-shadow-mixin($box-shadow-default !important);
  @include border-radius(4px, 4px);

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  // border-color: #6C757D !important;
  border: 1px solid $btn-color-secondary !important;

  &.zoom-region {
    margin-top: 10px;
  }

  .icon-right {
    float: right;
  }

  .inputs-layer-list {
    padding: 10px;
  }

  [aria-expanded='true'] {
    .fa-caret-down {
      svg {
        display: none !important;
      }
    }
    .fa-caret-up {
      svg {
        display: inherit !important;
      }
    }
  }

  .inputs-collapser-header {
    padding: 5px;
    border-width: 1px !important;
    @include border-radius(0.25rem, 0.25rem);
  }
}

.inputs-collapser {
  cursor: pointer;
  background-color: $btn-color-prinary !important;
  border: 1px solid lighten($btn-color-secondary, 5) !important;
  @include border-radius(0.25rem, 0.25rem);
  width: 100% !important;
  @include box-shadow-mixin($box-shadow-default !important);

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  .icon-right {
    float: right;
  }

  .inputs-layer-list {
    padding: 10px;
    background-color: $btn-color-secondary;
  }

  [aria-expanded='true'] {
    .fa-caret-down {
      svg {
        display: none !important;
      }
    }
    .fa-caret-up {
      svg {
        display: inherit !important;
      }
    }
  }

  .inputs-collapser-header {
    padding: 5px;
    border-width: 1px !important;
    @include border-radius(0.25rem, 0.25rem);
  }

  .inputs-collapser-header:focus {
    @include hovcol($btn-color-prinary);
    outline: $gray-600 !important;
  }

  .inputs-collapser-header:hover {
    @include hovcol($btn-color-prinary);
    color: $body-color !important;
  }
}

.btn-basemap:focus {
  outline: $gray-600 !important;
  @include hovcol($btn-color-prinary);
}

.btn-basemap:hover {
  @include hovcol($btn-color-prinary);
  color: $body-color !important;
}

.basemap-img {
  width: 61px;
  height: 41px;
  @include border-radius(10%, 10%);
  margin-right: 10px;

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.zoomregion-img {
  width: 40px;
  height: 34px;
  @include border-radius(10%, 10%);
  margin-right: 10px;

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.list-group-dark, .list-group-item {
  background: $btn-color-secondary !important;
  color: $body-color !important;
  border-color: lighten($btn-color-secondary, 5) !important;
  width: 100%;
}

.list-group-item:hover {
  background-color: $btn-color-prinary !important;
  border-color: $btn-color-secondary !important;
  color: $body-color !important;
  cursor: pointer;
}

.list-group-item:focus {
  background-color: $btn-color-prinary !important;
  border-color: $btn-color-secondary !important;
  outline: $gray-600 !important;
}

.basemap_list_close {
  font-size: 10px;
  margin: 5px;
}

.basemap_list_close:hover {
  cursor: pointer;
  @include hovcol($btn-color-secondary);
}

.list-group-dark {
  margin-top: 5px;
}

.mapinfodata-header, .LayerInput-header {
  font-size: 14px;
  font-weight: 900;
}

.LayerList-spacer {
  padding-top: 10px;
}

.hide-show-layerlist {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 50%;
  left: calc(100% - 8px);
  z-index: 4000;
  background: $btn-color-secondary;
  width: 20px;
  height: 36px;
  font-size: 18px;
  border: 1px solid $btn-color-secondary;
  @include border-radius(4px, 4px);
  justify-content: center;
  &:hover, &:focus {
    outline: none;
    background-color: $btn-color-prinary;
  }
}

.maplayers_list {
  background-color: $body-bg;
  color: $body-color;
  @include border-radius(0.25rem, 0.25rem);
  overflow-x: hidden !important;
  overflow-y: auto !important;

  hr {
    border-top: 1px solid rgba(233, 236, 241, 0.75);
  }

  label {
    font-size: 12px;
    padding: 3px;
  }

  .zonal-long-table-row {
    margin-top: 0;
  }

  .zonal-long-table-header-simple {
    top: 0;
  }

  .zonal-long-table-row-header-simple {
    height: 18px;
  }

  .zonal-long-table-item, .zonal-long-table-row-header-simple {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .driver-chart-backgroundColor-asset, .driver-chart-backgroundColor-threat {
    &-zero, &-one, &-two {
      color: #000;
    }
  }
}

@media screen and (max-width: 992px) {
  #maplayers_list-holder {
    position: inherit;
    margin-right: 0;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  #maplayers_list_close, #map_info_list_collapse {
    display: none;
  }
}

.layerList-sub-group {
  padding-top: 5px;
}

.custom-control {
  padding-bottom: 2px;
  margin-top: 1.5px;
}

.layer-legend-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFFFFF40;
  margin-bottom: 5px;
  margin-left: -1.5rem; /* Negative of the left padding on the .custom-control which is declared.... somewhere.... */
  max-height: 500px;
  transition: all 0.75s ease;
  will-change: transform;

  &.closed {
    animation: scale-display--reversed .3s;
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
    transition: all 0.4s ease;
    will-change: transform;
  }
}

.layer-description-text {
  cursor: pointer;
  width: 20px;
  font-size: .9em;
  height: 25px !important;
  border: 1px solid lighten($btn-color-secondary, 5) !important;
  color: $body-color !important;
  margin-right: 5px;
  background-color: $btn-color-secondary;
  @include border-radius(4px, 4px);
  @include box-shadow-mixin($box-shadow-small);

  &:hover {
    cursor: pointer;
    color: #FFF;
    background-color: $btn-color-prinary;
  }

  &:focus {
    outline: none;
    background-color: $btn-color-prinary;
  }
}

.layer-legend-toggler {
  width: 20px;
  color: $body-color !important;
  cursor: pointer;
  background-color: $btn-color-secondary;
  border: 1px solid  $btn-color-secondary !important;

  &.closed {
    color: #FFF;
  }

  &:hover {
    color: #999595;
    background-color: $btn-color-prinary;
  }
}

.layer-legend .value-none {
  display: none;
}
